<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Travel Delivery</title>


    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'App/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">


    <!-- Styles -->

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>

    <link href="{% static 'App/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

<main>

    <h3 class="site-heading text-center text-white d-none d-lg-block">

        <span class="site-heading-lower">Travel Delivery</span>
    </h3>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top py-lg-4" aria-label="Fifth navbar example" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand  text-expanded font-weight-bold d-lg-none" href="{% url 'home' %}">Gestión
                de Pedidos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
                        <a class="nav-link  text-expanded" href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class="nav-item {% if request.path == '/servicios/' %}active{% endif %} px-lg-4">
                        <a class="nav-link  text-expanded" href="{% url 'servicios' %}">Servicios</a>
                    </li>
                    <li class="nav-item {% if request.path == '/tienda/' %}active{% endif %} px-lg-4">
                        <a class="nav-link  text-expanded" href="{% url 'tienda' %}">Tienda</a>
                    </li>
                    <li class="nav-item {% if request.path == '/contacto/' %}active{% endif %} px-lg-4">
                        <a class="nav-link  text-expanded" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li class="nav-item {% if request.path|slice:':6' == '/blog/' %}active{% endif %} px-lg-4">
                        <a class="nav-link   text-expanded" href="{% url 'blog' %}">Blog</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-expanded" href="{% url 'logout' %}">
                            <!--<img class="mb-4" src="{% static 'App/svg/person-circle.svg' %}" alt="">-->
                            Cerrar Sesión
                        </a>
                    </li>

                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-expanded" href="#">
                            <img src="{% static 'App/svg/person-circle.svg' %}" alt="">
                            {{ user.username }}
                        </a>
                    </li>

                    {% else %}
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-expanded" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-expanded"
                           href="{% url 'registro' %}">Registrarse</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>


    <!-- Contenido Cambiante-->
    {% block content %}

    {% endblock %}


    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0">
                <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
                </a>
                <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
                </a>
                <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
                </a>
            </p>
            <p class="m-0 mbt">
                <a href="sample.html" class="link">Política de privacidad</a> ·
                <a href="sample.html" class="link">Aviso legal</a> ·
                <a href="sample.html" class="link">Cookies</a>
            </p>
            <p class="m-0 mbt1">&copy; Gestión de Pedidos 2020</p>
        </div>
    </footer>

</main>

<!-- Bootstrap -->
<script src="{% static 'App/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'App/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


</body>


</html>