<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Delivery</title>


    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'App/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }


    </style>


    <!-- Custom styles for this template -->
    <link href="{% static 'App/css/style.css' %}" rel="stylesheet">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Travel Delivery</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
                        <a class="nav-link  text-expanded" href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class="nav-item {% if request.path == '/servicios/' %}active{% endif %} px-lg-4">
                        <a class="nav-link  text-expanded" href="{% url 'servicios' %}">Servicios</a>
                    </li>
                    <li class="nav-item {% if request.path == '/tienda/' %}active{% endif %} px-lg-4">
                        <a class="nav-link  text-expanded" href="{% url 'tienda' %}">Tienda</a>
                    </li>
                    <li class="nav-item {% if request.path == '/contacto/' %}active{% endif %} px-lg-4">
                        <a class="nav-link  text-expanded" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li class="nav-item {% if request.path|slice:':6' == '/blog/' %}active{% endif %} px-lg-4">
                        <a class="nav-link   text-expanded" href="{% url 'blog' %}">Blog</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-expanded" href="{% url 'logout' %}">
                            <!--<img class="mb-4" src="{% static 'App/svg/person-circle.svg' %}" alt="">-->
                            Cerrar Sesión
                        </a>
                    </li>

                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-expanded" href="#">
                            <img src="{% static 'App/svg/person-circle.svg' %}" alt="">
                            {{ user.username }}
                        </a>
                    </li>

                    {% else %}
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-expanded" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-expanded"
                           href="{% url 'registro' %}">Registrarse</a>
                    </li>
                    {% endif %}

                </ul>
                <!--<form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>-->
            </div>
        </div>
    </nav>
</header>

<main>
    <!-- <div class="b-example-divider"></div> -->
    <!-- Contenido Cambiante-->
    {% block content %}

    {% endblock %}


    <!-- FOOTER -->

    <div class="b-example-divider"></div>

    <footer class="footer text-faded text-center py-5">
        <div class="container"></div>
        <div>
            <p class="float-end"><a href="#">Volber ariba</a></p>
        </div>

        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Inicio</a></li>
            <li class="nav-item"><a href="{% url 'servicios' %}" class="nav-link px-2 text-muted">Servicios</a></li>
            <li class="nav-item"><a href="{% url 'tienda' %}" class="nav-link px-2 text-muted">Tienda</a></li>
            <li class="nav-item"><a href="{% url 'contacto' %}" class="nav-link px-2 text-muted">Contacto</a></li>
            <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link px-2 text-muted">Blog</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
        </div>
    </footer>


</main>


<script src="{% static 'App/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


</body>
</html>
